{% extends 'base.html' %}

{% block title %}
    <title>SHOW LAPTOP </title>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th> LAPTOP_ID </th>
                <th> BRAND </th>
                <th> MODEL </th>
                <th> RAM </th>
                <th> MEMORY </th>
                <th> PRICE </th>
                <th> ACTIONS </th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
                <tr>
                    <td>{{ record.l_id }}</td>
                    <td>{{ record.brand }}</td>
                    <td>{{ record.model }}</td>
                    <td>{{ record.ram }}</td>
                    <td>{{ record.memory }}</td>
                    <td>{{ record.price }}</td>
                    <td>
                        <a href="{% url 'update_url' record.id %}" class="btn btn-outline-warning btn-sm me-3"> Update</a>
                        <a href="{% url 'delete_url' record.id %}" class="btn btn-outline-danger btn-sm me-3">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}